<button type="button" class="btn btn-primary" (click)="createBrasserie()">
    <i class="fas fa-plus"></i> Nouvelle brasserie
</button>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Pays</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let brasserie of brasseries$ | async">
            <td>{{ brasserie.id }}</td>
            <td>{{ brasserie.libelle }}</td>
            <td>{{ brasserie.pays }}</td>
            <td>
                <div class="d-flex flex-row flex-wrap gap-1">
                    <button type="button" class="btn btn-sm btn-success" (click)="updateBrasserie(brasserie)">
                        <i class="fas fa-edit"></i> Modifier
                    </button>
                    <button coreConfirm [header]="'Suppression de la brasserie'"
                        [body]="'Etes-vous sûr de vous sûr de vouloir supprimer la brasserie ?'"
                        (confirmClicked)="deleteBrasserie(brasserie)" type="button" class="btn btn-sm btn-danger">
                        <i class="fas fa-trash"></i> Supprimer
                    </button>
                </div>
            </td>
        </tr>
    </tbody>
</table>