<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink="/">Brew App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li *ngFor="let menuRoute of menuRoutes" class="nav-item">
                    <a class="nav-link" routerLinkActive="active" [routerLink]="menuRoute.path">
                        {{ menuRoute.libelle }}
                    </a>
                </li>

            </ul>

            <button (click)="logout()" type="button" class="btn"><i
                    class="fas fa-power-off me-1"></i>Déconnexion</button>
        </div>
    </div>
</nav>