:host {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.login-bloc {
    width: 15rem;
    border-radius: 0.5rem;
    background-color: lightgray;
    padding: 1rem;
}

.submit-btn {
    display: flex;
    margin: 0 auto;
}
