/* You can add global styles to this file, and also import other style files */
@use "@angular/material" as mat;

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@import "_colors";

@import "_styles2";

// $primary: #38ff53;
// $secondary: #ff38db;
// $warning: #f49b1f;

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

// Icones font awesome
@import "@fortawesome/fontawesome-free/css/all";

.default-form {
    max-width: 30rem;
}
