<div class="container">
    <h1>Titre h1</h1>
    <div class="h1">Faux titre h1</div>
    <div class="fw-bold">Texte en gras</div>
    <div class="text-primary bg-danger">Texte primaire</div>
    <div class="lh-1 mt-5 p-2">lh-1 et mt-5</div>
    <button class="btn btn-primary">Primary button</button>
    <a class="btn btn-secondary btn-sm active">Ancre secondary</a>
    <button class="btn btn-outline-primary btn-lg">Outline button</button>
    <button type="button" class="btn btn-primary"><i class=" text-danger fas fa-heart"></i> J'aime</button>
    <div class="row bg-secondary">
        <div class="col-12 col-md-6">
            Colonne 1 (6 colonnes en normal, 12 colonnes en mobile)
        </div>
        <div class="offset-3 col-3">Colonne 2 (5 colonnes et un offset de 1)</div>
        <div class="col-6">Colonne 3 (6 colonnes)</div>
    </div>
</div>