<ng-container *ngIf="pokemon">
    <audio [src]="pokemon.cry$ | async" autoplay></audio>
    <h1 class="text-center">
        <button type="button" class="btn" (click)="previous()">
            <i class="fas fa-circle-arrow-left fa-2x"></i>
        </button>
        {{ pokemon.name}}
        <button type="button" class="btn" (click)="next()">
            <i class="fas fa-circle-arrow-right fa-2x"></i>
        </button>
    </h1>
    <img class="img-fluid" [src]="pokemon.image">

    <h2>Evolutions</h2>
    <div class="d-flex flex-row flex-wrap gap-2">
        @for (evolution of pokemon.apiEvolutions; track $index) {
        <div>
            {{ evolution.name }}
        </div>
        }
        @empty {
        Aucune évolution.
        }
    </div>
</ng-container>