<h1>Nouvelle bière :</h1>
@if (biere) {
<form (ngSubmit)="submit()" class="d-flex flex-column">
    <mat-form-field>
        <mat-label>Nom</mat-label>
        <input name="libelle" matInput [(ngModel)]="biere.libelle" placeholder="Nom de la bière..">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Brasserie</mat-label>
        <mat-select [(value)]="biere.brasserie" [compareWith]="compareBrasseries">
            @for (brasserie of brasseries$ | async; track $index) {
            <mat-option [value]="brasserie">{{brasserie.libelle}}</mat-option>
            }
        </mat-select>
    </mat-form-field>

    <button mat-button color="accent">Enregistrer</button>
</form>
}