<div class="modal-header">
    <h5 class="modal-title">{{ header }}</h5>
    <button type="button" class="btn-close" (click)="closeModal()"></button>
</div>
<div class="modal-body">
    {{ body }}
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="yesClicked.emit()">
        Oui
    </button>
    <button type="button" class="btn btn-danger" (click)="noClicked.emit()">
        Non
    </button>
</div>