<h1>Liste des bières :</h1>

<button mat-raised-button color="accent" (click)="createBeer()">Nouvelle bière</button>
@if (bieres.length == 0) {
<div>Aucune bière disponible.</div>

} @else{
<table mat-table [dataSource]="bieres" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>Id</th>
        <td mat-cell *matCellDef="let element">{{element.id}}</td>
    </ng-container>

    <ng-container matColumnDef="libelle">
        <th mat-header-cell *matHeaderCellDef>Libellé</th>
        <td mat-cell *matCellDef="let element">{{element.libelle}}</td>
    </ng-container>

    <ng-container matColumnDef="brasserie">
        <th mat-header-cell *matHeaderCellDef>Brasserie</th>
        <td mat-cell *matCellDef="let element">{{element.brasserie?.libelle}}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        <td mat-cell *matCellDef="let element">
            <div class="d-flex flex-row flex-wrap gap-2">
                <button mat-raised-button color="primary" (click)="updateBeer(element)">
                    Modifier
                </button>
                <button mat-raised-button color="accent" (click)="deleteBeer(element)">
                    Supprimer
                </button>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns:displayedColumns"></tr>
</table>
}